html, body {
    background: #339900;
    height: 100%;
}

#root {
    height: 100%;
}

.card-game-table {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}


.narrow-row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    height: 20%;
    padding: 60px;
}

.wide-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 80%;
}

.solitaire-column {
    display: flex;
    flex-direction: column;
    width: 15%;
    height: 100%;
}

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
}

.target-box {
    width: 7vw;
    height: 9.5vw;
    border: solid black;
    margin: 50px;
}

.card-deck {
    justify-content: right;
    width: 7vw;
    height: 9.5vw;
    border: solid black;
    margin: 50px;
}

.card-in-deck-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0px;
}