html, body {
    background: #339900;
    height: 100%;
}

#root {
    height: 100%;
}

.card-game-table {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: hidden;
}

.bottom-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    position: relative;
    top: 10%;
    width: 100%;
    height: 80%;
}

.row-with-card-columns {
    display: flex;
    flex-direction: row;
    justify-content: center;

    position: relative;
    top: 3%;
    width: 100%;
    height: 80%;
}

.solitaire-column {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 15%;
    height: 100%;
}

.card-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 20px;
}

.target-box {
    z-index: 1;
    position: absolute;
    margin: 50px;
}

.card-in-deck-box {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 0;
}