.indicator-positioner {
    display:flex;
    align-items:flex-start;
    align-content:flex-start;

    position: relative;
    top: 50%;
    left: 1%;
}

.indicator {
    border: solid;
    padding: 5%;
}